.support {
  height: 85vh;
  padding-inline: 5vw;
}

.support h1 {
  font-size: 2vw
}

.support p {
  font-family: montserrat;
  margin-top: 1vh;
}

.main {
  display: flex;
  margin-top: 3vh;
  justify-content: space-between;
}

.left {
  height: 65vh;
  width: 20%;
}

.right {
  height: 65vh;
  width: 75%;
}

.right img {
  height: 100%;
  width: 100%;
}

@media (width <=950px) {
  .left {
    width: 35%;
  }

  .right {
    width: 62%;
  }
}

@media (width <=550px) {
  .main {
    min-height: 85vh;
    flex-direction: column;
    justify-content: center;
  }

  .support h1 {
    font-size: 4vw;
  }

  .support p {
    font-size: 3vw;
  }

  .left {
    padding-inline: 10vw;
    margin-bottom: 3vh;
    width: 100%;
  }

  .right {
    width: 100%;
  }
}