.trust {
  min-height: 80vh;
  padding-inline: 5vw;

}

.trust h1 {
  font-size: 2vw;
}

.trust p {
  font-family: montserrat;
  margin-block: 3vh;
  color: #414142;
  font-size: 1.2vw;
}

.reviews {
  display: flex;
  gap: 7vw;
}

@media (width <=550px) {
  .trust {
    margin-top: 63vh;
    margin-bottom: 3vh;
  }

  .trust h1 {
    font-size: 4vw;
  }

  .trust p {
    font-size: 3vw;
  }

  .reviews {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}